---
layout: layouts/base.njk
title: 'Home'
---

<main class="mx-auto my-5 max-w-sm font-serif">

  <h1 class="text-center text-2xl text-green-700">Eleventy Playgorund</h1>
  <p class="text-center mt-2">Hello from <a href="https://www.11ty.dev/" class="link">Eleventy!</a></p>

  <figure class="mt-2 mx-auto" style="max-width: 360px">
    <img data-lazy="/images/fox.webp" alt="a fox">
  </figure>

</main>
