// //==========  Fonts ==========//

// lora-700 - latin (font-bold)
@font-face {
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Lora Bold"), local("Lora-Bold"),
    url("../fonts/lora-v13-latin-700.woff") format("woff");
}
