<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <link rel="stylesheet" href="/styles/main.css">
    <script src="/scripts/main.js" defer></script>
  </head>

  <body>

    <header>
    </header>

    <div id="layout">
      {{ content | safe }}
    </div>

    <footer>
    </footer>

  </body>
</html>
